nav{
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    height: 80vh;
    box-shadow: 0 5px 30px 0 rgb(206, 206, 206);
    .item{
        position: relative;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: end;
        /* Điều chỉnh vị trí ban đầu của hình ảnh */
        img{
            position: relative;
            top: -500px;
            height: 80vh;
            z-index: 0;
            display: block;
            transition: top 2s ease-in-out;
            animation: slideImage 1s linear forwards;
            @keyframes slideImage {
                to {
                top: 0;
                }
            }
        }
    }
    .content{
        position: absolute;
        top: 0;
        padding: 0 10vw;
        
        .item-content{
            color: #d31c52;
            z-index: 0;
            display: block;
            .title-item-content{
                display: flex;
                h2{
                    top: 300px;
                    position: relative;
                    margin: 0;
                    padding: 0 10px;
                    font-size: 60px;
                    font-weight: 700;
                    font-family: proxima-nova,sans-serif;
                    transition: top 2s ease-in-out;
                    animation: slideImage 0.8s linear forwards;
                    @keyframes slideImage {
                        to {
                            top: 0;
                        }
                    }
                }
            }
            h5{
                top: 300px;
                position: relative;
                font-weight: bold;
                font-size: 20px;
                transition: top 2s ease-in-out;
                animation: slideImage 1.5s linear forwards;
                @keyframes slideImage {
                    to {
                        top: 0;
                    }
                }
            }
            button{
                font-weight: bold;
                border: none;
                height: 50px;
                width: 200px; 
                border-radius: 20px;
                background-color: #cccccc;
                transition: linear 0.5s;
                animation: expand 2s ease forwards;
                @keyframes expand {
                    0%{
                        transform: scale(0);
                    }
                    100% {
                        transform: scale(1);
                    }
                }
            }
            button:hover{
                background-color: #d31c52;
            }
        }
        
    }
    
    .change-page{
        position: absolute;
        bottom: 10px;
        button{
            height: 50px;
            width: 50px;
            margin: 0 1px;
            font-size: 30px;
            display: flex;
            border: 5px solid black;
            align-items: center;
            justify-content: center;
        }
        button:hover{
            background-color: #cccccc;
            transition: linear 0.5s;
        }
    }
}

.category{
    display: flex;
    height: auto; 
    margin: 10px 10px;
    .item{
        padding: 0 10px;
        img{
            width: 100%;
            opacity: 0.7;
        }
        .category-conten{
            position: absolute;
            top: 0;
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color: #2b414e;
                font: bold 35px/45px "Ubuntu",sans-serif;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.sale{
    height: 90vh;
    width: 100%;
    margin: 10px 0;
    img{
        width: 100%;
        height: 100%;
    }
    .sale-conten-root {
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .sale-conten{
            h1{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 65px;
                font-weight: bold;
            }
            span{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-size: 50px;
                
            }
            .btn
            {
                display: flex;
                justify-content: center;
                align-items: center;
                
                button{
                    border: none;
                    font-size: 20px;
                    font-weight: bold;
                    height: 60px;
                    width: 180px;
                    transition: linear 0.5s;
                }
                button:hover{
                    color: white;
                    background: black;
                }
            }
        }
    }
}

@media(max-width: 1200px){
    nav{
        height: 35vh;
        .item{
            img{
                height: 35vh;
                top: -100px;
            }
        }
        .item-content{
            .title-item-content{
                display: block !important;
                h2{
                    top: 0px;
                }
            }
            h5{
                top: 0px;
            }
        }
    }
    .sale{
        height: 60vh;
       
    }
}

@media(max-width: 500px){
    nav{
        height: 23vh;
        .item{
            img{
                height: 23vh;
            }
        }
        .content {
            padding: 0;
        }
        .item-content{
            .title-item-content{
                h2{
                    font-size: 24px !important;
                }
            }
            h5{
                display: none;
            }
            button{
                font-size: 13px !important;
                height: 25px !important;
                width: 155px !important;
            }
        }
        .change-page{
            button{
                height: 35px !important;
                width: 35px !important;
                border: 2px solid black !important;
                i{
                    font-weight: 600 !important;
                }
            }
        }
    }
    .category{
        display: block !important;
        .item{
            margin: 10px 0;
        }
    }
    .sale{
        
        h1{
            font-size: 40px  !important;
        }
        span{
            font-size: 35px !important;
        }
    }
}