<div class="container mt-4">
    <div class="back-link mb-3">
        <a routerLink="">Home</a> 
        <i class="fa-solid fa-angles-right"></i> 
        <a routerLink="/products">Products</a> 
        <i class="fa-solid fa-angles-right"></i> 
        <a [routerLink]="['/products' ,products.id]">{{products.namebook}}</a>
    </div>
    <div class="row">
        <div class="image col-12 col-md-6">
            <div class="main-img">
                <img class="" [src]="products.picture" alt="">
            </div>
            <div class="images"> 
                <div class="item-image">
                    <img [src]="products.picture" alt="">
                </div>
                <div class="item-image">
                    <img [src]="products.picture" alt="">
                </div>
                <div class="item-image">
                    <img [src]="products.picture" alt="">
                </div>
            </div>
        </div>
        
        <div class="info-product col-12 col-md-6">
            <h1>    
                {{products.namebook}}
            </h1>
            <div class="vote d-flex">
                <div>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <div style="opacity: 0.75;">(100 Reviews)</div>
            </div>
            <div class="price">
                <span class="cost">99.000₫</span>
                <span class="real-price">{{products.price.toLocaleString("vi-VN")}}₫</span>
            </div>
            <div class="number d-flex">
                <button> + </button>
                <input type="number"  value="0" min="0"/>
                <button> + </button>
            </div>
            <div class="ship">
                <i style="margin: 0 10px;" class="fa-solid fa-truck-fast"></i>
                <span>Always free shipping for orders over 1₫</span>
            </div>
            <div class="row button w-100 justify-content-around">
                <button class="col-md-5 col-12 btn-buy">Buy now</button>
                <button class="col-md-5 col-12 btn-add-cart ">Add to cart</button>
            </div>
            
            <div class="share">
                <span>Share: </span>
                <a><i class="fa-brands fa-facebook"></i></a>
                <a><i class="fa-brands fa-twitter"></i></a>
                <a><i class="fa-brands fa-github"></i></a>
                <a><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>  
