.divider:after,
.divider:before {
content: "";

height: 1px;
background: #eee;
}

@media (max-width:991px){

      .img{
        display: none;
      }
      .button_login {
        button{
          margin: 10px 0 ;
        }
      }
}
form{
  h1{
    text-align: center;
    font-weight:bold ;
  }
  .link-register{
    text-align: center;
  }
}

@keyframes index1 {
   25%{
    
    opacity: 0.25;
    transform: scale(0.25,0.25);
   }
   50%{
    opacity: 0.5;
    
    transform: scale(0.5,0.5);
   }
   75%{
    opacity: 0.75;
    
    transform: scale(0.75,0.75);
   }
   100%{
    opacity: 1;
    
    transform: scale(1,1);
   }
}
  .img{
    animation:linear 0.4s ;
    animation-name: index1;
    animation-delay: 0.3s;
  }

@keyframes index2{
  25%{
   right: -300px;
    opacity: 0.25;
   }
  //  50%{
  //   opacity: 0.5;
  //   right: -200px;
  //  }
   75%{
    opacity: 0.75;
    right: -100px;
   }
   100%{
    opacity: 1;
    right: 0px;
  }
}
.form-container{
 .input{
   animation:linear 0.5s ;
   animation-name: index2;
   
 }
}

.row{
  display:block;
  flex-basis: content;
}

.input{
  padding: 0;
  position: relative;
  input{
    padding: 0 2rem;
  }
  i{
    position: absolute;
    top: 0px;
    left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.button_login{
  display: flex;
  button{
    border: none;
    background: none;
    border-radius: 18px;
    box-shadow: 0 5px 10px 0 gray;
    height: 50px;
  }
  button:hover{
    background:#d8d8d8;
    transition: linear 0.3s;
  }
  img{
    height: 45px;
    width: auto;
    z-index: 1;
  }
}


