
  <div class="container mt-4">
    <div class="row d-flex align-items-center justify-content-center ">
      <div  class="img-left" class="col-lg-5 col-12">
        <img  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img" style="width: 300px; height: 500px;"  alt="Phone image">
      </div>
      
      <div class="form-container col-lg-5 col-12">
        <form method="post" action="true" >
          <h1>Login</h1>
          <!-- Email input -->
          <div class="input form-outline mb-4 ">
            <input type="text" name="email"   placeholder="Email" class="form-control form-control-lg"/>
            <i class="fa-solid fa-user"></i>
          </div>
          

          <!-- Password input -->
          <div class="input form-outline mb-4">
            <input [(ngModel)]="this.login.Pass" type="password" id="form1Example23" name="password" placeholder="Password" class="form-control form-control-lg" formControlName="password" />
            <i class="fa-solid fa-lock "></i>
            
          </div>

          <div class="d-flex justify-content-around align-items-center mb-4">
           
           
          </div>
          <div class="link-register">
            Don't have an account?<a routerLink="/register" routerLinkActive="active">Sign up now</a>
          </div>
          <!-- Submit button -->
          <div class="button_login justify-content-around row">
            
            <button (click)="LoginFunction()" class=" col-9 col-lg-5">Sign in</button>
            <button class="col-9 col-lg-5"><a href=""><img src="../../../assets/img/google.png" alt=""></a></button>
          </div>
          
      

        </form>
        
      </div>
    </div>
  </div>
