.divider:after,
.divider:before {
content: "";

height: 1px;
background: #eee;
}

@media (max-width:500px){

      .img-left{
         img{
        display: none;
      }
      }
      .button_login {
        button{
          margin: 10px 0 ;
        }
      }
}
form{
  h1{
    text-align: center;
    font-weight:bold ;
  }
  .link-register{
    text-align: center;
  }
}



  .img{
    animation:forwards linear 0.6s ;
    animation-name: index1;
  }
  @keyframes index1 {
    25%{
      left: -300px;
      opacity: 0.25;
      width: 0px;
      height: 0px;
    }
    50%{
      opacity: 0.5;
      left: -200px;
      width: 100px;
      height: 150px;
    }
    75%{
      opacity: 0.75;
      left: -100px;
      width: 200px;
      height: 300px;
    }
    100%{
      opacity: 1;
      left: 0px;
      width: 300px;
      height: 500px ;
    }
 }
@keyframes index2{
  25%{
   right: -300px;
    opacity: 0.25;
   }
  //  50%{
  //   opacity: 0.5;
  //   right: -200px;
  //  }
   75%{
    opacity: 0.75;
    right: -100px;
   }
   100%{
    opacity: 1;
    right: 0px;
  }
}
.form-container{
 .input{
   animation:forwards linear 0.6s ;
   animation-name: index2;
   
 }
}

.input{
  padding: 0;
  position: relative;
  input{
    padding: 0 2rem;
  }
  i{
    position: absolute;
    top: 0px;
    left: 10px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
.button_login{
  display: flex;
  button{
    border: none;
    background: none;
    border-radius: 18px;
    box-shadow: 0 5px 10px 0 gray;
    height: 50px;
  }
  button:hover{
    background:#d8d8d8;
    transition: linear 0.3s;
  }
  img{
    height: 45px;
    width: auto;
    z-index: 1;
  }
}


