<div class="container mt-4">
    <div class="back-link mb-3"><a routerLink="">Home</a> <i class="fa-solid fa-angles-right"></i> <a routerLink="/products">Products</a></div>

    <div class="d-flex">
        <div class="filter">
            <table class="table table-hover m-0">
                <thead>
                    <tr>
                        <th class="d-flex justify-content-center" scope="col">Filter by price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="">All Price</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">$0 - $100</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">$100 - $200</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">$200 - $300</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">$300 - $400</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">$400 - $500</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                      <th class="d-flex justify-content-center" scope="col">Filter by size</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="">All Size</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">XS</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">S</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">M</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">L</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">XL</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th class="d-flex justify-content-center" scope="col">Filter by color</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" name="" id="">All Color</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">Black</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">White</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id="">Red</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="products"></div>
    </div>
</div>
