
<div class="container mt-4">
    <div class="row d-flex align-items-center justify-content-center ">
      <div class="img-left" class="col-lg-5 col-12">
        <img   src="../../../assets/img/register (2).png"
          class="img" style="width: 450px; height: 350px;"  alt="Phone image">
      </div>
      <div class="form-container col-lg-5 col-12">
        <form method="post" action="true" >
          <h1>Register</h1>
          <!-- Email input -->
          <div class="input form-outline mb-4">
            <div>
              <input type="text" name="firstname" [(ngModel)]="this.register.firstname" placeholder="FirstName" class="form-control form-control-lg" />
              <div class="box-input"><label>123</label></div>
              <i class="fa-regular fa-user"></i>
            </div>
            
          </div>
          
          <div class="input form-outline mb-4">
            <input type="text" name="lastname" [(ngModel)]="this.register.lastname"   placeholder="LastName" class="form-control form-control-lg" />
            <div class="box-input"><label>123</label></div>
            <i class="fa-regular fa-user"></i>
            
          </div>
          <div class="input form-outline mb-4 ">
            <input type="email" name="email" [(ngModel)]="this.register.email"    placeholder="Email" class="form-control form-control-lg" />
            <div class="box-input"><label>123</label></div>
            <i class="fa-solid fa-at"></i>
          </div>

          <!-- Password input -->
          
          <div class="input form-outline mb-4">
            <input type="password" name="password" [(ngModel)]="this.register.password"  placeholder="Create Password" class="form-control form-control-lg" />
            <div class="box-input"><label>123</label></div>
            <i class="fa-solid fa-lock "></i>
            
          </div>
          <div class="input form-outline mb-4">
            <input type="password" name="comfirmpassword" [(ngModel)]="this.register.confirmpassword"  placeholder="Confirm Password" class="form-control form-control-lg" />
            <div class="box-input"><label>123</label></div>
            <i class="fa-solid fa-lock "></i>
            
          </div>

          
         

          <div class="link-login">
            Once registered, go back to login.<a routerLink="/login" routerLinkActive="active">Sign in</a>
            
          </div>
          <!-- Submit button -->
          <div class="button_register justify-content-around row">
            <button (click)="RegisterId()" class=" col-9 col-lg-5">Register</button>
            
            <!-- <button class="col-9 col-lg-5"><a href=""><img src="../../../assets/img/google.png" alt=""></a></button> -->
          </div>
          
      

        </form>
      </div>
    </div>
  </div>
